<!DOCTYPE html>
<html>
<head>
    <title>Main</title> 
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/Content/css")
  
</head>

<body style="margin:0;padding:0;background-color: #777;">

    @RenderBody()

</body>
</html>